.App {
  text-align: center;
}

.App-header {
  background-color: #fffee1;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(30, 30, 30);
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  background-repeat: no-repeat;
  background-size:cover;
}

