.habit-builder{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 70vw;
  margin: 0px 0px 25px 0px;
}

.new-habit-input{
  border: 0px;
  background-color: #ffebeb;
  border-radius: 5px;
  margin: 0px 7px 0px 0px;
  padding: 5px;
  min-width: 40vw;
  font-size: 18px;
  color:#290a53;
}

.new-habit-input:focus{
  outline: none;
}

.new-habit-input::placeholder {
  color: #290a53;
  opacity:0.6;
}

.submit-button {
  background-color: #290a53;
  color: #aacefa;
  border: solid 2px transparent;
  border-radius: 8px;
  transition: 0.5s;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0px;
}


.submit-button:hover{
  background-color: transparent;
  color: #290a53;
  border: solid 2px #290a53;
}