.habit-flex{
  background-color: #290a53;
  color: #aacefa;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-width: 70vw;
}

.flex-boxes{
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}