.habit-flex{
  background-color: rgba(12, 10, 83, 0.8);
  color: #d7e9ff;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-width: 80vw;
  max-height: max-content;
}

.flex-bubbles{
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 20px 30px;
}

.delete-button{
  color: #aacefa;
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
  align-self:self-start;
}

.delete-button:hover{
  color: #f07c7c;
}

.edit-button{
  color: #aacefa;
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  padding: 10px 15px 0px 0px;
  align-self:self-start;
}

.edit-button:hover{
  color: #3fdd57;
}

.habit-box-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px 10px 30px;
}

.habit-header{
  margin: 20px 0px 0px 0px;
  padding: 0px;
  display:flex;
  flex-wrap: nowrap;
}

.habit-header-input{
  background-color: transparent;
  color: #aacefa;
  font-size:15px;
  border: 0px;
  margin: 0px 0px 0px 6px;
  padding:0px 0px 0px 5px;
  border-bottom: 2px dashed #aacefa;
  box-shadow: none;
  border-radius: 5px;
  max-width: 35vw;
  align-self: center;
}

.habit-header-input:focus{
  outline: none !important;
  border: 2px solid #aacefa;
}

.habit-header-text {
  padding:0px;
  margin: 0px;
}