*::selection{
  background-color:#290a53;
  color: #aacefa;
}

.main-div{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.welcome-text{
  color:#290a53;
}

.username-box {
  background-color: transparent;
  border: 0px;
  padding: 5px;
  border-bottom: dashed 2px #290a53;
  text-align: center;
  color: #290a53;
}

.username-box:focus{
  outline: none;
}

.username-box::placeholder {
  color: #290a53;
  opacity:0.4;
}

.username-box:focus::placeholder {
  color: transparent;
}

.username-button{
  background-color: #290a53;
  color: #aacefa;
  border: solid 2px transparent;
  border-radius: 8px;
  transition: 0.5s;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.username-button:hover{
  background-color: transparent;
  color: #290a53;
  border: solid 2px #290a53;
}

.silly-quote-flex {
  margin: 35px 20px 10px 20px;
  padding: 22.5px;
  opacity: 0.5;
  display:flex;
  justify-content: center;
  align-items: center;
}