*::selection{
  background-color:#290a53;
  color: #aacefa;
}

.main-div{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.welcome-text{
  color:#290a53;
  font-size: 10vh;
}

.username-box {
  background-color: transparent;
  border: 0px;
  padding: 5px;
  border-bottom: dashed 2px #290a53;
  text-align: center;
  color: #290a53;
  min-width: 25vw;
  font-size: 1.2rem;
}

.username-box:focus{
  outline: none;
}

.username-box::placeholder {
  color: #290a53;
  opacity:0.5;
}

.username-box:focus::placeholder {
  color: transparent;
}

.username-button{
  background-color: #290a53;
  color: #aacefa;
  border: solid 2px transparent;
  border-radius: 10px;
  margin-top: 5px;
  transition: 0.5s;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 3.5vh;
}


.username-button:hover{
  background-color: transparent;
  color: #290a53;
  border: solid 2px #290a53;
}

@media screen and (max-width: 600px) {
  .welcome-text {
    font-size: 15vh;
  }
}