.flex-header{
  padding: 8px 0px 0px 0px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-clock{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 5px;
  font-size: 1.2em;
}

.back-button {
  background-color: #290a53;
  color: #aacefa;
  border: solid 2px transparent;
  border-radius: 8px;
  transition: 0.5s;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 5px;
}


.back-button:hover{
  background-color: transparent;
  color: #290a53;
  border: solid 2px #290a53;
}

.habit-tracker-text {
  color: #290a53;
  display:flex;
  justify-content: flex-start;
  margin: 5px;
}

.welcome-text {
  color: #290a53;
  display:flex;
  justify-content: flex-start;
  margin: 0px 0px 20px 5px;
}

.silly-quote-flex {
  margin: 0px;
  padding: 22.5px;
  opacity: 0.5;
  max-width: 70vw;
  display:flex;
  justify-content: center;
  align-items: center;
}