.flex-header{
  display:flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.back-button {
  background-color: #290a53;
  color: #aacefa;
  border: solid 2px transparent;
  border-radius: 8px;
  transition: 0.5s;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  margin: 5px;
  font-size: 12px;
}


.back-button:hover{
  background-color: transparent;
  color: #290a53;
  border: solid 2px #290a53;
}

.habit-list{
  display:flex;
  justify-content: center;
  align-items: center;
}